body {
    font-family: Arial, sans-serif;
    padding: 40px;
    background-color: #59c6de;
    text-align: center;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    min-width: 50%;
    min-height: 35%;
    margin: auto;
    padding: 40px;
    background: navy;
    border-radius: 15px;
    box-shadow: 5px 10px 18px black;
}

button {
    background-color: #2b8d3b;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: aquamarine;
    color: black;
    transform: scale(1.2);
    transition: transform 0.3 ease;
    opacity: 1;
    box-shadow: 5px 5px gray;
}

input, button, select {
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    width: 80%;
    border: 2px solid black;
    font-size: 18px;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}